<h1><%= @task.title %></h1>

<%= link_to 'âœï¸ Edit this task', task_edit_path %>

<div class="details">
  <%= @task.details %>
</div>

<form action="">
  <% if @task.completed %>
    <input type="checkbox" id="checkbox1" name="checkbox1" value="Completed" checked>
    <label for="checkbox1"> This task is completed</label>
  <% else %>
    <input type="checkbox" id="checkbox2" name="checkbox2" value="Completed">
    <label for="checkbox2"> This task is not completed yet</label>
  <% end %>
</form>

<%= link_to 'ðŸ”™ to list', tasks_path %>


